# Environnement virtuel
.env_oc_p02/

#repertoir avec les datas extraites
datas/
datas2/
datas3/

# la documentation de travail
*.pdf

# les fichiers de données à ne pas inclure
*.csv
*.json
*.jpg
*.jpeg
*.html

#fichiers perso en local
src/main1.py
src/main2.py
src/main3.py

# repertoire d'annex du cours
Annexes_cours/
Livrables/
Demande/
